<h4>Bid Form {{title}}</h4>

<div class="space">
    <label>Nama Project : </label>
    <input type="text" ng-model="nm_project" class="form-control" placeholder="" readonly="readonly">   
     <input type="hidden" ng-model="pro_id" class="form-control" placeholder="" readonly="readonly">  
     <input type="hidden" ng-model="comp_id" class="form-control" placeholder="" readonly="readonly">   
     <input type="hidden" ng-model="user_id" class="form-control" placeholder="" readonly="readonly"> 
     <input type="hidden" ng-model="budgetProject" class="form-control" placeholder="" readonly="readonly">   
     <input type="hidden" ng-model="amount" class="form-control" placeholder="" readonly="readonly">       
</div>
<div class="space">
    <label>Budget Yang diinginkan : </label>
    <input type="text" ng-model="budgetNego" class="form-control" placeholder="">    
</div>

<div class="space">
    <label>Message : </label>
    <textarea ng-model="msg" class="form-control" placeholder=""></textarea> 
</div>

<div class="space">
    <a href="#" class="btn btn-primary" ng-click="insertBid(budgetNego, msg, pro_id, comp_id, user_id, budgetProject, amount)">Bid Project</a>
</div>