

<script>
    $(document).ready(function() {
        $("button[name='addDom']").click(function() {
           var domElement = $('<div class="space"><label>Category : </label><select ng-model="category" name="category" id="category" class="form-control" placeholder="" ng-change="selectPro(category)"><option ng-repeat="x in cat" value="{{x.CATEGORY_CODE}}">{{x.CATEGORY_NAME}}</option></select></div>');
            //var domElement = $('<div class="btn btn-primary">cek</div>');
            $(this).after(domElement);
        });
    });
</script>
<h4>Add Project</h4>
<!-- <adddiv></adddiv> -->
<!-- <select ng-model="select">
    <option ng-repeat="kt in kategori">{{kt}}</option>
</select>
<button ng-click="addNama(select)">ADD</button>
    <p ng-repeat="nm in listNama track by $index">{{($index+1)+". "+nm}}</p>
    <input type="text" ng-model="title" placeholder="title"/>
<button ng-click="save(title)">save</button> -->
<!-- <div class="space" ng-controller="AutoCompleteController">
    <label>Category : </label>
    <input type='text' ng-keyup='fetchData()' class="form-control" placeholder="Autocomplete" ng-model='searchText'><br>
    <ul id='searchResult' >
        <li ng-click='setValue($index)' ng-repeat="result in searchResult" >{{ result.name }}</li>
    </ul>
 </div>
 -->
<div class="space">
    <label>Category : </label>
    <select ng-model="category" name="category" id="category" class="form-control" style="width: 100%;" placeholder="" ng-change="selectPro(category)">
        <option ng-repeat="x in cat" value="{{x.CATEGORY_CODE}} - {{x.CATEGORY_NAME}}">{{x.CATEGORY_NAME}}</option>
    </select>
    <a ng-click="addNama(category)" class="btn btn-primary btn-xs">Add Category</a>
    <p ng-repeat="nm in listNama track by $index">{{($index+1)+". "+nm}}</p>
    <!-- <input type="text" ng-model="title" placeholder="title"/>
    <button ng-click="save(title)">save</button> -->
</div> 
<div id="space-for-buttons"></div>
<div class="space">
    <label>Title : </label>
    <input type="text" ng-model="title" class="form-control" placeholder="">    
</div>

<div class="space">
    <label>Description : </label>
    <textarea ng-model="description" class="form-control" placeholder=""></textarea> 
</div>

<div class="space">
    <label>Location : </label>
    <input type="text" ng-model="location" class="form-control" placeholder="">    
</div>

<div class="space">
    <label>Regional : </label>
    <select ng-model="regional" name="regional" id="regional" class="form-control" placeholder="" ng-change="selectregional(regional)">
        <option ng-repeat="regional in dataReg" value="{{regional.REGIONAL_ID}}">{{regional.REGIONAL_NAME}}</option>
    </select>
    <!-- <input type="text" ng-model="regional" class="form-control" placeholder="">  -->   
</div>

<div class="space">
    <label>Country : </label>
    <select ng-model="country" name="country" id="country" class="form-control" placeholder="" ng-change="selectcountry(country)">
        <option ng-repeat="countrys in datacountry" value="{{countrys.COUNTRY_ID}}">{{countrys.COUNTRY_NAME}}</option>
    </select>
   <!--  <input type="text" ng-model="country" class="form-control" placeholder="">  -->  
</div>

<div class="space">
    <label>Start Date : </label>
    <input type="text" ng-model="startdate" id="date" name="startdate" class="form-control" placeholder="">    
</div>

<div class="space">
    <label>End Date : </label>
    <input type="text" ng-model="enddate"  name="enddate" class="form-control" placeholder="">    
</div>

<div class="space">
    <label>The date of the winner : </label>
    <input type="text" ng-model="windate"  name="windate" class="form-control" placeholder="">    
</div>

<div class="space">
    <label>Budget : </label>
    <input type="text" ng-model="budget" class="form-control" placeholder="">    
</div><!-- -->
<div class="space">
    <label>File : </label>
    <input type="file"  file-model="myFile" class="form-control">
</div> 
<div class="space">
    <a href="#" class="btn btn-primary" ng-click="insertProject(category,title,description,location,regional,country,startdate,enddate,budget,windate)">Create Project</a>
</div>

<script>
    $(document).ready(function(){
        var date_input=$('input[name="startdate"]'); //our date input has the name "date"
        var container=$('.bootstrap-iso form').length>0 ? $('.bootstrap-iso form').parent() : "body";
        date_input.datepicker({
            format: 'yyyy-mm-dd',
            container: container,
            todayHighlight: true,
            autoclose: true,
        })
    })

    $(document).ready(function(){
        var date_input=$('input[name="enddate"]'); //our date input has the name "date"
        var container=$('.bootstrap-iso form').length>0 ? $('.bootstrap-iso form').parent() : "body";
        date_input.datepicker({
            format: 'yyyy-mm-dd',
            container: container,
            todayHighlight: true,
            autoclose: true,
        })
    })

    $(document).ready(function(){
        var date_input=$('input[name="windate"]'); //our date input has the name "date"
        var container=$('.bootstrap-iso form').length>0 ? $('.bootstrap-iso form').parent() : "body";
        date_input.datepicker({
            format: 'yyyy-mm-dd',
            container: container,
            todayHighlight: true,
            autoclose: true,
        })
    })
</script>